@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to my blog</h2>
    <p>Here you can create a short post and users can add comments, enjoy it.</p>
</div>
